.container {
	width: 35%;
	margin: 5em auto;
	box-shadow: 0px 5px 15px 0px #CCCCCC;
	border-radius: 5px;
}

ul {
	padding-left: 0;
	margin-top: 0;
	background-color: #FFFFFF;
}

li {
	list-style-type: none;
	padding: 20px;
	font-size: 1.5em;
	color: #4d4d4d;
	border-bottom: 1px solid #f5f5f5;
	cursor: pointer;
}

.delete-item {
	position: relative;
	float: right;
	font-size: 1em;
	color: red;
	border: none;
	background: none;
	cursor: pointer;
	opacity: 0.5;
	display: none;
}

li:hover .delete-item {
	display: block;
}

li label {
	cursor: pointer;
	padding-left: 35px;
}

li input[type=checkbox] {
	-webkit-appearance: none;
	position: relative;
	outline: none;
}

li input[type=checkbox]:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
    height: 35px;
    width: 35px;
    position: absolute;
    top: -25px;
    left: -10px;
}

li input[type=checkbox]:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

li input[type=checkbox]:checked + label {
	text-decoration: line-through;
	opacity: 0.4;
}

.todo-input {
	padding: 1em;
	font-size: 1.5em;
	font-weight: 300;
	border: none;
	border-bottom: 1px solid #CCC;
	outline-style: none;
	width: 92.8%;
}

.heading {
	font-size: 3.5em;
	text-align: center;
	font-weight: 100;
	color: rgba(0, 0, 255, 0.3);
	background-color: rgba(200, 230, 255, 0.3);
	padding: 20px;
}

.offline-switch {
	position: fixed;
	right: 50px;
	top: 50px;
	cursor: pointer;
}

.offline-switch label {
	cursor: pointer;
}

.offline-switch label:first-child {
	float: left;
	margin: 1px 15px;
	font-size: 1.1em;
}

.offLine-notification {
	position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: #404040;
  padding: 20px;
  color: #ffffff;
  border-radius: 5px;
	cursor: default;
	-webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.offLine-notification.show {

}

.offLine-notification.hide {
	-webkit-transform: translate3d(0, 160%, 0);
     -moz-transform: translate3d(0, 160%, 0);
          transform: translate3d(0, 160%, 0);
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #CCCCCC;
  border-radius: 1em;
}

.switch.on {
	background-color: #008241;
}

.switch.on.offline {
	opacity: 0.4;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFFFFF;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
